# Ignore folders
.cloud
.storage
custom_components
deps
esphome
node-red
tts
www/audio
www/community
www/floorplan
www/presence

# Ignore files
www/floorplan.psd
.google_maps_location_sharing.cookies.aff_hass_location_gmail_com
.HA_VERSION
.uuid
alexa_media.andre@andreste.in.pickle
home-assistant.log
known_devices.yaml
phue.conf
secrets.yaml
zigbee.db